<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="headerUser">
    <header  id="header-container" class="fixed fullwidth dashboard">
        <!-- Header -->
        <!-- Left Side Content -->
        <div class="left-side">
            <!-- Mobile Navigation -->
            <div class="mmenu-trigger">
                <button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
                </button>
            </div>

            <!-- Main Navigation -->
            <nav id="navigation" class="style-1">
                <ul id="responsive">

                    <li><a href="#">Home</a>
                        <ul>
                            <li><a href="index.html">Home 1 (Modern)</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Listings</a>
                        <ul>
                            <li><a href="#">List Layout</a>
                                <ul>
                                    <li><a href="listings-list-with-sidebar.html">With Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><a class="current" href="#">User Panel</a>
                        <ul>
                            <li><a href="dashboard.html">Dashboard</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Pages</a>
                        <div class="mega-menu mobile-styles three-columns">

                            <div class="mega-menu-section">
                                <ul>
                                    <li class="mega-menu-headline">Pages #1</li>
                                </ul>
                            </div>

                            <div class="mega-menu-section">
                                <ul>
                                    <li class="mega-menu-headline">Pages #2</li>
                                </ul>
                            </div>

                            <div class="mega-menu-section">
                                <ul>
                                    <li class="mega-menu-headline">Other</li>
                                </ul>
                            </div>

                        </div>
                    </li>

                </ul>
            </nav>
            <div class="clearfix"></div>
            <!-- Main Navigation / End -->

        </div>
        <!-- Left Side Content / End -->

        <!-- Right Side Content / End -->
        <div class="right-side">
            <!-- Header Widget -->
            <div class="header-widget">
                <!-- User Menu -->
                <div class="user-menu">
                    <div class="user-name"><span><img src="/admin/images/dashboard-avatar.jpg" alt=""></span>Hi,
                        Tom!
                    </div>
                    <ul>
                        <li><a href="dashboard.html"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
                    </ul>
                </div>
            </div>
            <!-- Header Widget / End -->
        </div>
        <!-- Right Side Content / End -->
        <!-- Header / End -->
    </header>
</div>

</body>
</html>