<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <!-- Copyrights -->
    <div class="copyrights">© 2023. Bản quyền thuộc về Phan Công Tú.</div>
    <!-- Scripts
================================================== -->
    <script type="text/javascript" src="/admin/scripts/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/admin/scripts/jquery-migrate-3.3.2.min.js"></script>
    <script type="text/javascript" src="/admin/scripts/mmenu.min.js"></script>
    <script type="text/javascript" src="/admin/scripts/chosen.min.js"></script>
    <script type="text/javascript" src="/admin/scripts/slick.min.js"></script>
    <script type="text/javascript" src="/admin/scripts/rangeslider.min.js"></script>
    <script type="text/javascript" src="/admin/scripts/magnific-popup.min.js"></script>
    <script type="text/javascript" src="/admin/scripts/waypoints.min.js"></script>
    <script type="text/javascript" src="/admin/scripts/counterup.min.js"></script>
    <script type="text/javascript" src="/admin/scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/admin/scripts/tooltips.min.js"></script>
    <script type="text/javascript" src="/admin/scripts/custom.js"></script>
    <!-- DropZone | Documentation: http://dropzonejs.com -->
    <script type="text/javascript" src="/admin/scripts/dropzone.js"></script>
</footer>
</body>
</html>