<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/categories/fragments/head :: head">
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header Container
================================================== -->
    <div th:insert="admin/categories/fragments/userHeader :: headerUser"></div>
    <!-- Header Container / End -->
    <!-- Dashboard -->
    <div id="dashboard">
        <!-- Navigation
================================================== -->
        <!-- Responsive Navigation Trigger -->
        <section th:replace="admin/categories/fragments/navigation::navigation"></section>
        <!-- Content
================================================== -->
        <div class="dashboard-content">

            <!-- Titlebar -->
            <div id="titlebar">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Thêm danh mục</h2>
                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs">
                            <ul>
                                <li><a href="#">Trang chủ</a></li>
                                <li><a href="#">Bảng điều khiển</a></li>
                                <li>Thêm danh mục</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="row col-lg-12 add-listing">
                <form method="post" action="" enctype="multipart/form-data" >
                    <div class="add-listing-section">
                        <div class="row with-forms">
                            <h4>Tên danh mục <i class="tip" data-tip-content="Điền tên danh mục bạn muốn tạo"></i>
                            </h4>
                            <input class="search-field" type="text" value="" />
                        </div>
                        <div class="row with-forms">
                            <h4> Ảnh đại diện <i class="tip" data-tip-content="Chỉ cần thêm 1 ảnh"></i></h4>
                            <img style="padding-bottom: 30px;"
                                 src="https://vcdn1-vnexpress.vnecdn.net/2020/09/11/sh8fzyt4-159886611234720470620-5969-5840-1599809570.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=9fS0hHSZamGuZ9BYgx6Tyw"
                                 alt="Girl in a jacket" height=" 200">
                            <!-- file -->
                            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                        </div>
                    </div>
                    <!-- Section / End -->
                    <div style="display: flex; justify-content: right;">
                        <button href="#" class="button preview">Thêm <i class="fa fa-arrow-circle-right"></i></button>
                    </div>
                </form>
            </div>

        </div>
        <!-- Content / End -->
    </div>
    <!-- Dashboard / End -->
</div>
<!-- Wrapper / End -->
<footer th:replace="admin/categories/fragments/footer::footer"></footer>
</body>

</html>